@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.blink{
  animation: blinker 1s linear infinite alternate-reverse;
}

@keyframes blinker {
  0% {
    background-color: #f0f0f0;
    opacity: 0%;
  }
  10% {
    background-color: #f0f0f0;
    opacity: 10%;
  }
  50% {
    background-color: #f0f0f0;
    opacity: 50%;
  }
  100% {
    background-color: #f0f0f0;
    opacity: 100%;
  }
}
